<div id="portfolioSheetWrapper">
    <header id="project">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>Solo jegy</h1>
                    <!--                    <p class="date">In Women / November 24</p> -->
                </div>
                <div class="col-md-2">
                    <a href="javascript:$.pageslide.close()" class="btn pull-right"><i class="icon-cancel-outline"></i>Close</a>
                </div>
            </div>
        </div>
    </header>
    <section class="content">
        <section class="mb15">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" id="from-solovip" class="form-external" method="post" action="save.php">
                            <input type="hidden" name="type" value="solovip" />
                            <input type="hidden" name="name2" value="" />
                            <input type="hidden" name="email2" value="" />
                            <input type="hidden" name="lakcim2" value="" />
                            <input type="hidden" name="telefon2" value="" />
                            <input type="hidden" name="size2" value="" />
                            <input type="hidden" name="polo2" value="" />
                            <div class="form-group">
                                <label for="solo-name">Név:</label>
                                <input type="text" required class="form-control" name="name" id="solovip-name" placeholder="Neved">
                            </div>
                            <div class="form-group">
                                <label for="solo-email">e-mail:</label>
                                <input type="email" required class="form-control" name="email" id="solovip-email" placeholder="e-mail címed">
                            </div>
                            <div class="form-group">
                                <label for="solo-email">Lakcím:</label>
                                <input type="text" required class="form-control" name="lakcim" id="solovip-lakcim" placeholder="Lakcímed">
                            </div>
                            <div class="form-group">
                                <label for="solo-email">Telefon:</label>
                                <input type="text" required class="form-control" name="telefon" id="solovip-telefon" placeholder="Telefonszámod">
                            </div>
                            <div class="form-group">
                                <label for="solovip-size">Válaszd ki a mez méreted:</label>
                                <select class="form-control" id="solovip-size" name="size">
                                    <option value="S">S</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Jelentkezés</button>
                            </div>
                        </form>
                        <!-- call to action -->
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                    <a href="javascript:$.pageslide.close()" class="btn pull-right"><i class="icon-cancel-outline"></i>Close</a>
                </div>
            </div>
        </div>
    </footer>
</div>